@import url("./variables.css");

* {
  box-sizing: border-box;
  font-family: "Poppins", Arial, sans-serif;
  font-size: var(--font-size);
  line-height: 1.25;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.image-wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

html {
  background-color: var(--color-background);
  color: var(--color-text);
}

h1 {
  font-size: var(--font-size--16x);
}

h2 {
  font-size: var(--font-size--4x);
}

/*  Lab 2 Task 2.3 Makes titles of the projects bigger  and bolder */

h3 {
  font-size: var(--font-size--2x);
}

input,
select,
textarea {
  outline: none;
  border: none;
  background-color: var(--color-secondary);
  padding: var(--spacing);
  border-radius: var(--spacing);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-text);
  opacity: 0.7;
}

.main {
  margin: 0 auto;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  padding: 0 var(--spacing--8x) var(--spacing--4x);
}

/*  Lab 2 Task 1.2 Add inner padding, remove margin from mission block (container) */

.container {
  margin: 0 auto;
  display: flex;
  width: 100%;
  padding: var(--spacing);
  flex-direction: column;
}

.button {
  border: none;
  width: fit-content;
  padding: var(--spacing--2x) var(--spacing--4x);
  font-size: var(--font-size);
  border-radius: var(--spacing);
  cursor: pointer;
  font-weight: 500;
}

.button--accent {
  background-color: var(--color-accent);
  color: var(--color-text--accent);
}

.button--primary {
  background-color: var(--color-primary);
  color: var(--color-text--inv);
  transition: all 0.3s ease-in-out;
}

.button--secondary {
  box-shadow: inset 0 0 0 2px var(--color-primary);

  color: var(--color-text--accent);
  transition: all 0.3s ease-in-out;
}

.button--primary:hover {
  background-color: var(--color-accent);
  color: var(--color-text--accent);
}

.button--secondary:hover {
  background-color: var(--color-primary);
  color: var(--color-text--inv);
}

/*  Lab 2 Task 2.1 Make logo fixed on top.
Well, I use the same header across all pages, which already includes
the name of the startup and its logo. It has position sticky, but only because it looks
more organic with the design. With 'fixed' the header would overlap the banner text, which isn't good.
Works almost the same as fixed anyway */

.header {
  margin: 0 auto;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(40px);
  background-color: rgba(26, 29, 31, 0.9);
}

.header__logo {
  font-weight: bold;
  font-size: var(--font-size--2x);
  margin-right: var(--spacing--16x);
  color: var(--color-primary);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing--4x) 0;
}

.nav__list {
  display: flex;
  gap: var(--spacing--4x);
}

.nav__item {
  color: var(--color-text);
  transition: all 0.3s ease-in-out;
  list-style: none;
}

.nav__item:hover {
  color: var(--color-primary);
}

.content-block {
  display: flex;
  flex-direction: column;
}

.content-block {
  margin-bottom: var(--spacing--16x);
}

.hero-block,
.banner-block {
  align-items: center;
  text-align: center;
}

.banner-block__headline {
  margin: var(--spacing--8x) 0;
}

.hero-block__container {
  position: relative;
  min-height: var(--size--12x);
}

.hero-block__container,
.banner-block__container {
  background-color: var(--color-accent);
  color: var(--color-text--accent);
  border-radius: var(--spacing--2x);
}

/*  Lab 2 Task 1.1 Position absolute for the logo, 0 from top */

.hero-block__headline {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
}

.hero-block__title {
  position: relative;
  -webkit-text-stroke: 2px var(--color-primary);
}

.hero-block__title::after {
  content: "FUKURO";
  display: block;
  position: absolute;
  color: transparent;
  top: var(--spacing--2x);
}

.hero-block__title::before {
  content: "·";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-text-stroke: none;
  transform: translateX(-80%) translateY(-2%) scale(0.8);
  animation: eye-moving 3s ease-in-out infinite 1s;
}

@keyframes eye-moving {
  0% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }
  45% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }
  50% {
    transform: translateX(-60%) translateY(-2%) scale(0.8);
  }
  60% {
    transform: translateX(-60%) translateY(-2%) scale(0.8);
  }
  65% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }

  70% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }

  75% {
    transform: translateX(-100%) translateY(-2%) scale(0.8);
  }

  80% {
    transform: translateX(-100%) translateY(-2%) scale(0.8);
  }

  85% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }
  100% {
    transform: translateX(-80%) translateY(-2%) scale(0.8);
  }
}

.mission-block__container,
.founders-block__container {
  gap: var(--spacing--4x);
}

.mission-block__title,
.founders-block__title {
  text-align: center;
  color: var(--color-primary);
  gap: var(--spacing--4x);
}

.mission-block__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  gap: var(--spacing);
}

.card {
  flex: 1;
  display: flex;
  padding: var(--spacing--4x);
  border-radius: var(--spacing);
}

.card__headline {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.card__subtitle {
  font-size: var(--font-size);
  color: var(--color-text--secondary);
}

.mission-block .card {
  position: relative;
  max-height: 200px;
  background-color: var(--color-secondary);
  overflow: hidden;
  min-width: var(--size--2x);
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

.mission-block .card:hover {
  border: 2px solid var(--color-accent);
  color: var(--color-primary);
  z-index: 2;
  transform: scale(1.05);
  box-shadow: 0 0 30px var(--color-accent);
}

.mission-block .card__image {
  position: relative;
  height: auto;
  flex: 0 0 250px;
  right: calc(-1 * var(--spacing--2x));
  bottom: calc(-1 * var(--spacing--4x));
  filter: grayscale(1);
  transition: all 0.3s ease-in-out;
}

.mission-block .card:hover .card__image {
  filter: grayscale(0);
}

.mission-block .card__text-block {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.card__text {
  opacity: 0.7;
}

/*  Lab 2 Task 1.5 Add emoji */

.mission-block__emoji-block {
  position: relative;

  overflow: hidden;
  padding: var(--spacing--8x) 0;
  display: flex;
  justify-content: center;
  gap: var(--spacing--8x);
}

.mission-block__emoji-mask {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 40%,
    var(--color-background) 100%
  );
}

.mission-block__emoji {
  flex: 1;
  width: 100%;
  text-align: center;
  white-space: nowrap;
  font-size: var(--font-size--2x);
  letter-spacing: var(--spacing--16x);
  animation: running-emoji 10s linear infinite;
}

@keyframes running-emoji {
  0% {
    transform: translateX(-52%);
  }
  100% {
    transform: translateX(52%);
  }
}

.founders-block {
  transition: all 0.3s ease-in-out;
}

.founders-block:focus {
  transform: translateX(2%);
}

.founders__table {
  width: 100%;
  border-spacing: var(--spacing--2x);
}

.founders__table td {
  text-align: center;
  vertical-align: middle;
  padding: var(--spacing--4x);
}

.founders__header {
  text-align: center;
  vertical-align: middle;
  padding: var(--spacing);
}

.founders__header > * {
  margin-bottom: var(--spacing);
}

.founders__avatar {
  display: inline-block;
  width: var(--size--2x);
  border-radius: 100%;
  overflow: hidden;
}

.founders__avatar img {
  width: 100%;
  height: auto;
}

.founders__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing--2x);
}

.founders__icon {
  width: var(--icon-size--4x);
}

.footer {
  padding: var(--spacing--8x);
  background-color: var(--color-secondary);
  border-radius: var(--spacing--2x);
}

.footer__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--spacing--4x);
  margin: 0 auto;
  padding: 0 var(--spacing--2x);
}

.footer__logo a {
  font-size: var(--font-size--2x);
  font-size: var(--font-size--4x);
}

.footer__logo {
  font-weight: bold;

  color: var(--color-primary);
}

.footer__nav,
.footer__contact {
  flex: 1 1 var(--size--4x);
  min-width: var(--size--4x);
}

.footer__logo {
  flex: 1 1 var(--size--2x);
  min-width: var(--size--2x);
}

.footer__contact-item {
  margin-bottom: var(--spacing);
}

/*  Lab 2 Task 1.4 Enhance text on select by 10% */

.footer__contact-item a {
  text-decoration: none;
  color: hsl(245, 19%, 73%);
  transition: all 2s ease-in-out;
}

.footer__contact-item a::selection {
  background-color: var(--color-accent--selection);
  color: hsl(246, 19%, 83%);
}

.footer__contact-item a:focus {
  background-color: hsla(255, 70%, 66%, 0.6);
  color: hsl(246, 19%, 83%);
  font-size: 110%;
  padding: var(--spacing) var(--spacing--2x);
  border-radius: var(--spacing);
  outline: none;
}
