:root {
  --color-primary: #ffffff;
  --color-accent: #8c6ee5;
   --color-success: #7ab856;
    --color-alert: #e56e6e;
  --color-accent--selection: hsla(255, 70%, 66%, 0.5);
  --color-secondary: #232629;
  --color-border: #2d3136;
  --color-background: #1a1d1f;

  --color-text: #aeacc6;
  --color-text--secondary: rgba(174, 172, 198, 0.7);
  --color-text--accent: #ffffff;
  --color-text--inv: #1a1d1f;

  --font-family: "Arial, sans-serif";

  --font-size: 1rem;
  --font-size--2x: 2rem;
  --font-size--4x: 4rem;
  --font-size--8x: 8rem;
  --font-size--16x: 16rem;

  --spacing: 0.5rem;
  --spacing--2x: 1rem;
  --spacing--3x: 1.5rem;
  --spacing--4x: 2rem;
  --spacing--8x: 4rem;
  --spacing--16x: 8rem;
  --spacing--32x: 16rem;

  --icon-size: 12px;
  --icon-size--2x: 24px;
  --icon-size--4x: 48px;

  --size: 60px;
  --size--2x: 120px;
  --size--4x: 240px;
  --size--8x: 480px;
  --size--10x: 600px;
  --size--12x: 720px;
  --size--16x: 960px;
  --size--32x: 1920px;
}
